@use "./abstracts" as *;

.add-link {
  margin-top: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $dark-violet;
  background-image: url(../assets/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;

    .link-input {
      outline: none;
      padding: 0.75rem;
      margin: 0.5rem 0;
      width: 100%;
      border: none;
      border-radius: 5px;
    }

    .link-input.error {
      color: $red;
      border: 2px solid $red;
      outline: 2px solid $red;
    }

    .link-input.error::placeholder {
      color: $red;
    }

    .error-label {
      display: none;
      margin-top: 0.2rem;
      color: $red;
      padding: 0.2rem;
      font-size: 0.7rem;
      font-style: italic;
      font-weight: 500;
    }

    .error-label.show {
      display: flex;
    }

    .short-btn {
      width: 100%;
      border: none;
      margin-top: 0.5rem;
      border-radius: 5px;
      padding: 0.9rem 1.5rem;
      background-color: $cyan;
      font-size: 1rem;
      font-weight: 700;
      color: $white;
      cursor: pointer;
    }

    .short-btn:hover {
      opacity: .7;
    }
    
  }
}

/*Show links mobile styles*/
.show-links {
  box-shadow: 0px 0px 10px 1px $dark-violet;
  margin-top: 1rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;

  width: 100%;
  font-size: 0.5rem;
  padding: 0.75rem;
  border-radius: 5px;

  .long-url,
  .short-url {
    font-size: 1rem;
  }

  .long-url {
    color: $vd-violet;
    border-bottom: 1px solid $gray;
    width: 100%;
  }

  .short-url {
    color: $cyan;
    padding: 0.5rem 0rem;
  }

  .short-url:hover {
    text-decoration: underline;
  }
  
  .copy-btn, .delete-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.65rem 1.5rem;
    background-color: $cyan;
    font-weight: 700;
    color: $white;
    cursor: pointer;
  }

  .copy-btn:hover, .delete-btn:hover {
    opacity: .7;
  }

  .copy-btn.copied {
    background-color: $vd-violet;
  }

  .delete-btn {
    background-color: $red;
    margin-top: .5rem;    
  }
}

@media (min-width: 810px) {
  .add-link,
  .show-links {
    width: min(100% - 2rem, 70rem);
    margin: 0 auto;
  }
  
  .add-link {
    margin-top: 5rem;
    background-image: url(../assets/images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    .input-container {
      flex-direction: row;
      padding: 2rem;

      .link-input {
        margin: auto;
      }

      .the-input {
        width: 80%;
        display: flex;
        flex-direction: column;
      }

      .the-button {
        margin-left: auto;
        width: 15%;

        .short-btn {
          margin: unset;
          padding: 0.5rem 0;
        }
      }
    }
  }

  .show-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .short-url {
      margin-left: auto;
      margin-right: 1rem;
    }

    .long-url {
      width: auto;
      border: none;
      padding: unset;
    }

    .copy-btn, .delete-btn {
      width: auto;
    }

    .delete-btn {
      margin-top: unset;
      margin-left: .2rem;
    }
  }
}
/* Show links desktop styles */
