@use "./abstracts" as *;

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.illustration {
  width: 100%;
  height: 450px;
  z-index: -1;
  position: relative;

  .my-img {
    position: absolute;
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    background: url(./images/illustration-working.svg) no-repeat right/contain;
  }
}

.introduction {
  text-align: center;

  .heading {
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 700;
    color: $vd-blue;
  }

  .para {
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray;
  }

  .btn-started {
    color: $white;
    font-size: 1rem;
    font-weight: 700;
    background-color: $cyan;
    border: none;
    outline: none;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .btn-started:hover {
    opacity: .6;
  }
}

@media (min-width: 810px) {
  .hero-content {
    width: min(100% - 2rem, 70rem);
    margin: 0 auto;

    transition: 300ms all;
    display: flex;
    flex-direction: row-reverse;

    .illustration {
      width: 50%;
      margin-left: 1rem;
    }

    .introduction {
      width: min(100% - 2rem, 45rem);
      text-align: left;

      .heading {
        font-size: 5rem;
      }

      .para {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      .btn-started {
        font-size: 1rem;
        font-weight: 700;
        margin: 1rem 0;
        padding: 0.7rem 2.5rem;
        border-radius: 2rem;
        cursor: pointer;
      }
    }
  }
}
