@use "./abstracts" as *;

.nav {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  transition: 350ms ease-out;

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: $dark-violet;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: 2.5rem;
    width: 90%;

    transform: scaleY(0);
    transform-origin: top;
    transition: 300ms;
    overflow: hidden;

    .nav-links {
      display: flex;
      flex-direction: column;
      text-align: center;

      border-bottom: 1px solid $gray;
      width: 80%;
      margin-bottom: 2rem;

      .features {
        margin-top: 1.5rem;
      }

      li {
        padding: 1rem;
        margin-bottom: 1rem;

        a {
          color: $white;
        }

        a:hover {
          color: $gray;
        }
      }
    }

    .btn-els {
      display: flex;
      flex-direction: column;
      width: 80%;

      .sign-btn {
        cursor: pointer;
        border: none;
        padding: 0.9rem;
        font-size: 1rem;
        margin: 2rem 0;
        font-weight: 700;
        color: #fff;
        border-radius: 20px;
        background-color: $cyan;
      }

      .log-btn {
        cursor: pointer;
        border: none;
        padding: 0.9rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        background-color: transparent;
      }

      .log-btn:hover {
        color: $gray;
      }
    }
  }
}

.menu-items.active {
  transition: 300ms;
  transform: scaleY(1);
}

.toggle-menu {
  .menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
      width: 35px;
    }
  }
}

@media (min-width: 810px) {
  .nav {
    transition: 350ms ease-out;
    position: unset;
    .logo-div {
      display: flex;
      align-items: center;
    }

    .menu-items {
      background-color: #fff;
      flex-direction: row;
      justify-content: space-between;
      position: unset;
      margin: 0;
      width: 100%;
      transform: scaleY(1);

      .nav-links {
        flex-direction: row;
        padding: 0;
        margin-right: auto;
        margin-left: 1rem;
        margin-bottom: 0;
        border: none;
        width: auto;

        .features {
          margin-top: auto;
        }

        li {
          padding: 0rem 1rem;
          margin: 0;

          a {
            color: $grayish-violet;
            font-weight: 500;
            padding: 0.3rem 0.5rem;
          }

          a:hover {
            color: $dark-violet;
            font-weight: 700;
            transition: 300ms ease;
          }
        }
      }

      .btn-els {
        flex-direction: row;
        width: auto;
        .log-btn {
          background-color: transparent;
          border: none;
          color: $grayish-violet;
          font-size: 1rem;
          font-weight: 700;
          padding: 0.5rem 1rem;
          cursor: pointer;
          margin-left: 0.5rem;
        }

        .sign-btn {
          border: none;
          background-color: $cyan;
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
          padding: 0.6rem 1.4rem;
          border-radius: 1.3rem;
          cursor: pointer;
          margin-left: 0.5rem;
        }
      }
    }

    .toggle-menu {
      display: none;
      .menu-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;

        img {
          width: 35px;
        }
      }
    }
  }
  .toggle-menu {
    display: none;
  }
}
